@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Freethorpe Football Club <br />
    The Common<br />
    Freethorpe<br />
    NR13 3NZ
</address>

<address>
    <strong>Full club website:</strong>   <a href="http://www.freethorpefc.co.uk">freethorpefc.co.uk</a><br />
    <strong>Support:</strong>   <a href="mailto:freethorpefcaaron@hotmail.com">freethorpefcaaron@hotmail.com</a><br />
</address>